body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

.anchorDiv {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  position : absolute;
  padding : 0;
  margin : 0;
  background-color: rgb(19, 19, 19);
}

.weatherData {
  position: fixed;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.weatherDetailed {
  display: flex;
  color: white;
  width: 70%;
  height: 100%;
  /* Use padding for non-collapsing margins */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  
}

.cityList {
  width: calc(30% - 1px);
  height: 100%;
  flex-direction: column;
  /* Form new stacking context*/
  display: flex;
  border-right: 1px outset gray;
  float: left;
}

.weatherDetailed div {
  text-align: center;
  font-size: 20px;
  min-width: 70%;
  min-height: 80%;
  padding-top: auto;
  line-height: 2;
}

img {
  max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}


.right {
  float : right;
}

.left {
  float: left;
}

.yBar {
  height: 10%;
  width: 100%;
  float: left;
  z-index: 3;
  position: relative;
}

@media screen and (min-width: 900px){
  .cityPreview {
    font-size:20px;
  }
}

@media screen and (max-width: 899px){
  .cityPreview {
    font-size:10px;
  }
}

.cityPreview {
  position: relative;
  color: rgb(180, 180, 180);
  margin-right: 20px;
  margin-left:20px;
  padding-right:0px;
  padding-left: 20px;
  padding-top: 10px;
  flex-basis: 10%;
  display: flex;
}

.cityPreview svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.cityPreview button {
  position: absolute;
  width: 10px;
  height: 10px;
  top:-9px;
  right: 2px;
  display:none;
}

.cityPreview:hover button {
  display: inline-block;

}

.cityPreview:hover {
  border: 1px solid white;
  color: white;
}

.cityPreview svg:hover {
  border: 1px solid white;
  width: 22px;
  height: 22px;
}


.form {
  margin-top: 3rem;
  width: 100%;
  height: 10%;
  float: left;
  vertical-align: middle;
  justify-content: center;
}

.form input[type="text"] {
  margin-left: 1rem;
  width: calc(100% - 5rem );
  vertical-align: middle;
  display: inline-block;
}

.form svg {
  fill:white;
  width: 24px;
  height: 24px;
}

.form button {
  margin-left: -8px;
}

.form svg:hover {
  border: 1px solid white;
  width: 22px;
  height: 22px;
}


.weatherDetailed .detailedHeadline {
  font-size: 35px;
  font-weight: bolder;
}

.weatherDetailed .temp {
  font-size: 50px;
}

.weatherDetailed .description img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: -1rem;
  margin-bottom: -2rem;
 
  display: block;
  position: relative;
}

.weatherDetailed .description {
  display: block;
  text-align: center;
}

@keyframes fall {
  0%{top: 0%;} 50%{top: 50%;} 100%{top: 100%;}
}
